.todo-template {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);

	& label {
		display: inline-flex;
		align-items: center;
		margin-top: var(--size-1);
		margin-right: var(--size-3);
	}

	& hr {
		margin-block: var(--size-4);
	}

	& [type='radio'] {
		margin-right: var(--size-1);
	}
}
